/* Grid */
.row {
    --bs-gutter-x: 0 !important;
}

.row > * {
    padding-right: 8px !important;
    padding-left: 8px !important;
    margin-top: 0 !important;
}

.col {
    padding: 8px 0px;
}
/* Grid */

/* Content Container*/

/* Content -> Card With Image */
.cont-container-cwi {
    min-width: 75%;
    margin: auto;
    max-width: 1080px;
}

/* Content -> Card Expandable */
.cont-container-exp {
    width: 40%;
}

/* Content Container*/

/* Card Top */
.card-top {
    position: sticky;
    z-index: 99;
    top: 0;
    margin-top: 15px;
    padding: 15px;
    color: white;
    border-radius: 5px;
}

.btn-create {
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
}

/* Card */
.card {
    background-color: white;
}

.card:hover {
    border-color: transparent;
}

.card:hover .overlay {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card:not(:hover) .overlay {
    display: none;
}

/* Card -> Card With Image */
.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card-cwi {
    margin: 10px;
    padding: 10px;
}

/* Card -> Card Expandable */
.card-exp {
    margin: 10px 0;
}
/* Card */
