.close{
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: 5px;
    top: 5px;
    font-size: 20px;
    background: #ffffff;
    border: none;
}

.opt-b {
    border: none;
    background-color: transparent;
    padding: 2px 5px !important;
}

.popup-content{
    width: 60% !important;
    border-radius: 0.25rem !important;
}
