.close{
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: 5px;
    top: 5px;
    font-size: 20px;
    background: #ffffff;
    border: none;
}

.button-option-container {
    background-color: #212529bf;
    width: 100%;
    margin: 1px;
}

.button-option-container:hover {
    background-color: #212529;
}

.button-option {
    width: 100%;
    padding: 15px !important;
}

.button-option svg {
    font-size: 20px;
}
